---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import CurrentProject from '../components/CurrentProject.astro';
import WorkExperience from '../components/WorkExperience.astro';
import TechStack from '../components/TechStack.astro';
import Contact from '../components/Contact.astro';

const techStack = [
  { name: ".NET", symbol: ".NET", icon: "devicon-dotnetcore-plain" },
  { name: "C#", symbol: "C#", icon: "devicon-csharp-plain" },
  { name: "JavaScript", symbol: "JS", icon: "devicon-javascript-plain" },
  { name: "F#", symbol: "F#", icon: "devicon-fsharp-plain" },
  { name: "HTMX", symbol: "</>" },
  { name: "HTML", symbol: "<>", icon: "devicon-html5-plain" },
  { name: "CSS", symbol: "CSS", icon: "devicon-css3-plain" },
  { name: "C", symbol: "C", icon: "devicon-c-plain" },
  { name: "Python", symbol: "Py", icon: "devicon-python-plain" },
  { name: "SQL", symbol: "SQL", icon: "devicon-microsoftsqlserver-plain" },
  { name: "noSQL", symbol: "noSQL", icon: "devicon-mongodb-plain" },
  { name: "Git", symbol: "Git", icon: "devicon-git-plain" },
  { name: "Azure DevOps", symbol: "ADO", icon: "devicon-azuredevops-plain" },
  { name: "Linux/Debian", symbol: "Tux", icon: "devicon-debian-plain" },
  { name: "Docker", symbol: "Docker", icon: "devicon-docker-plain" }
];

const contacts = [
  { icon: "devicon-github-plain", value: "https://github.com/LucasAlexanderK" },
  { icon: "devicon-linkedin-plain", value: "https://linkedin.com/in/lucas-kock" },
  { icon: "✉", value: "hello@lucasak.dev" }
];

const experience = [
  {
    role: "Consultant",
    company: "twoday",
    period: "Sep 2025 - Present",
    description: "Software projects using .NET, C# and Python. Infrastructure management of IIS, MSSQL and Windows servers. DevOps in Azure and TeamCity. SOAP, REST, RabbitMQ. The list is long. :)",
    link: "https://www.twoday.com"
  },
  {
    role: "Junior Consultant",
    company: "itm8",
    period: "Aug 2024 – July 2025",
    description: "Working on various full-stack web projects using .NET, C# and F#.",
    link: "https://www.itm8.com/"
  },
  {
    role: "Teaching Assistant",
    company: "University of Copenhagen - Department of Computer Science",
    period: "April 2024 – June 2025",
    description: "I've taught in the courses Interaction Design and Programming and Problem Solving. Both courses are mandatory bachelors courses"
  }
];
---

<BaseLayout title="lucasak.dev">
  <div class="page">
    <main>
      <Hero name="Hi, I'm Lucas" intro="I'm a computer scientist working as software consultant in Copenhagen, Denmark." />
      <p><a href="/blog/">Blog →</a></p>
      <hr />
      <CurrentProject
        title="Expanding and configuring self-hosted VPN"
      >
      <p>
      I've set up a Lenovo ThinkCentre with Proxmox, slowly adding LXC containers to it. I've also set up a VPS, which now serves as Headscale control server for my own VPN. So far, my VPS/VPN runs Authelia (for 2FA/OIDC), Headscale, nginx, coreDNS, Redis, step-ca (for internal VPN certificates) and Trilium. 
      <br></br>

      Everything is running in rootless Podman containers, which in turn are configured as Quadlets.
      <br></br>

      My next steps are to set up Prometheus and Grafana for monitoring. I am also looking into setting up a Ansible playbook to reproduce my whole setup.
      <br></br>

      All of this done without AI, as I want to learn things from scratch.
      </p>
      </CurrentProject>
      <hr />
      <WorkExperience experience={experience} />
      <section>
        <h2>Recommendations</h2>
        <blockquote>
          <p>"Lucas brings enough positive energy and excitement about software that he is a strong addition to a team on that basis alone. But he also excels both in practical and theoretical learning and is super quick to put that into practice and deliver solid results. 
          <br></br>

          His work is of a high quality and he is always receptive to feedback and eager to improve and deliver something next time that is even better. He also has encyclopedic knowledge of many topics outside of the realm of software development, and he is skilled at integrating this vast wealth of information into his work. I was sad when he left my team, but you should be very happy if you have the opportunity for him to join yours."</p>
          <footer>— <a href="https://www.linkedin.com/in/chamook/" target="_blank" rel="noopener noreferrer">Adam Guest</a>, Software Architect @ itm8</footer>
        </blockquote>
      </section>
      <hr />
      <TechStack techStack={techStack} />
      <hr />
      <Contact contacts={contacts} />
    </main>
  </div>
</BaseLayout>

