---
interface ContactItem {
  icon: string;
  value: string;
}

interface Props {
  contacts: ContactItem[];
}

const { contacts } = Astro.props;
---

<section>
  {contacts.map(contact => (
    <a
      href={contact.value.includes("@") ? `mailto:${contact.value}` : contact.value}
      target={contact.value.includes("@") ? '' : '_blank'}
      rel={contact.value.includes("@") ? '' : 'noopener noreferrer'}
    >
      {contact.icon.startsWith("devicon-") ? <i class={contact.icon}></i> : <span class="symbol">{contact.icon}</span>}
    </a>
  ))}
</section>

<style>
  section {
    text-align: center;
  }

  a {
    display: inline-block;
    margin-right: 12px;
    text-decoration: none;
  }

  a:last-child {
    margin-right: 0;
  }

  .symbol {
    font-size: 1.2em;
  }
</style>
